@model List<PROG6212_POE.Models.LecturerDTO>

<link rel="stylesheet" href="/css/reviewPage.css" />

<h2 style="text-align:center; margin-top:20px;">HR Dashboard</h2>

@if (TempData["SuccessMessage"] != null)
{
    <p style="color:green; text-align:center">@TempData["SuccessMessage"]</p>
}

<table class="claims-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name & Surname</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var lec in Model)
        {
            <tr>
                <td>@lec.LecturerID</td>
                <td>@lec.Name @lec.Surname</td>
                <td>@lec.Email</td>
                <td>
                    <a asp-action="EditLecturer" asp-route-lecturerId="@lec.LecturerID">Edit</a> |
                    <a asp-action="Invoice" asp-route-lecturerId="@lec.LecturerID">Print Invoice</a>
                </td>
            </tr>
        }
    </tbody>
</table>